nav{
  background-color: lightgray;
  padding:20px 0 20px 0;
}

.navButton{
  background-color: #333333;
  padding:20px 30px 20px 30px;
  color:white;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.navButton:hover{
  color:lightblue;
}

body{
  padding: 0;
  margin:0;
}

#side{
  background-color: orange;
  height: 300px;
  width: 30%;
  float: left;
  
}

#mainSection{
  background-color: teal;
  height: 1000px;
  width: 70%;
  float: right;
}